# Assignment -  Basic Python Syntax ,  Variable , different operators

In [20]:
# Back Slash

print ("This is Pyhton Programming.\
       You can join.")

This is Pyhton Programming.       You can join.

In [26]:
#Tripel Quotes
print (""" ******
    ****
      **""")

 ******
    ****
      **

In [ ]:
# String inside the single quotes
print('Python Program')

In [31]:
#String inside the double quotes
print("Python's Program")

Python's Program

In [36]:
 #Escape Sequence
# Backslash
print('I\'m new to Python')

I'm new to Python

In [37]:
#Newline 
print("New to Python.\n Joined in LU")

New to Python.
 Joined in LU

In [39]:
#Tab 
print("New to Python.\t Joined in LU")

New to Python.	 Joined in LU

In [52]:
#formated output
title = "Assignment"
language = "Python"
day = 2
rating = 4.5656
print("This is %s of %s for day %d and rating for the class is %0.f." %(title,language,day,rating))

This is Assignment of Python for day 2 and rating for the class is 5.

In [54]:
print(f"This is {title} of {language} for day {day} and rating for the class is {rating}.")

This is Assignment of Python for day 2 and rating for the class is 4.5656.

In [59]:
# Variables
a=255
print(a)

255

In [60]:
b = 255
print(b)

255

In [61]:
print(id(a))

4460663872

In [62]:
print(id(b))

4460663872

In [70]:
#Rules for variable name - Keywords should not be useed as variable name
def =10
print(def)

SyntaxError: invalid syntax (<ipython-input-70-bc210ba90d40>, line 2)

In [71]:
#Variable name can contain letters,numbers and underscore
assignment_status = "inProgress"
_NewProgram = "Yes"

In [77]:
#Arthemetic operator

a = 12
b= 30
print(a+b)

42

In [78]:
print(a-b)

-18

In [79]:
print(b/a)

2.5

In [80]:
print(b%a)

6

In [81]:
print(b//a)

2

In [82]:
print(b**2)

900

In [83]:
print(a*b)

360

In [84]:
c = 16
d = a*b+c
print(d)

376

In [85]:
e = a*(b+c)
print(e)

552

In [86]:
#Comparison Operators

a >b

False

In [87]:
a ==b

False

In [88]:
a < b

True

In [91]:
a!=b

True

In [93]:
#Bitwise Operator
a = 243
b = 2
a & b

2

In [94]:
a | b

243

In [95]:
#Logical operator

num1 = 20
num2 = 30 
num3 = 15

#and

num1 > num2 and num1 > num3

False

In [96]:
num1 < num2 and num1 > num3

True

In [101]:
num2 > num1 and num3 > num2

False

In [102]:
num1 > num2 and num2 < num3

False

In [103]:
# or opeator

num1 > num2 or num1 > num3

True

In [104]:
num1 < num2 or num1 > num3

True

In [105]:
num2 > num1 or num3 > num2

True

In [106]:
num1 > num2 and num2 < num3

False

In [107]:
#not operator

not num1 > num2

True

In [109]:
#Memebership operator

#in 
#not in

str1 = "PythonProgramming"
"P" in str1

False

In [111]:
'e' in str1

False

In [112]:
# not in
'e' not in str1

True

In [113]:
'P' not in str1

False

In [114]:
#identity operator

a = 20
b = 20
a is b

True

In [116]:
a = 260
b = 260
a ==b

True

In [117]:
a is b

False

In [118]:
f1 = 2.4
f2 = 2.4
f1 is f2

False